/*Defaults all elements with the following settings*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Sets general webpage font and background color*/
body {
    background-color: #d9dcd6;
    color: #ffffff;
}

/*Sets spacing, alignment, font, and size for "nav"*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Header padding, font, and color*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

/*Sets "logo" font and display*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Colors "seo" as part of "logo"*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Sets inline list of "nav" links*/
.header li {
    display: inline-block;
    margin-left: 25px;
}

/*Overwrites default link color and design*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Sets background image*/
.horiseon-team {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Sets space for "content" elements*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Sets size of image elements within "content"*/
.content img {
    max-height: 200px;
}

/*Sets margins and heading size for "content"*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Sets space, size, font, background color for elements within "content"*/
.contentBlocks {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

/*Adjusts images within "content" to left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Adjusts images within "content" to right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Sets all "p" element font size*/
p {
    font-size: 16px;
}

/*Sets space, size, font, and background color for "benefits"*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Sets margins and text alignment for "benefit" headings*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Sets space and size for "benefit" images*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Sets margins between each "benefit" element*/
.benefitBlocks {
    margin-bottom: 32px;
}

/*Sets space, font, and color for "footer"*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}

/*Sets font size for "footer" heading*/
.footer h2 {
    font-size: 20px;
}
